[Unit]
Description=Watchdog Service Watchdog
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/watchdog.service start
ExecStop=/usr/local/sbin/watchdog.service stop
ExecReload=/usr/local/sbin/watchdog.service restart

[Install]
WantedBy=multi-user.target
